:root {
	--pink: #ffb4ac;
	--beige: #ffebd3;
	--green: #679186;
	--blue: #264e70;
}

/* font-family: "Bungee", cursive;
font-family: "Bungee Outline", cursive;
font-family: "Bungee Shade", cursive;
font-family: "Quicksand", sans-serif; */

body {
	background-color: var(--beige);
	font-family: "Quicksand", sans-serif;
}
.navbar {
	background-color: var(--blue);
	padding: 0 20px;
}
.navbar-brand {
	font-family: "Bungee Shade", cursive;
	font-size: 35px;
	color: white;
}
.nav-link {
	color: white;
}

.hero {
	color: white;
	background-color: var(--blue);
	padding: 160px 20px;
	line-height: 10px;
	text-align: center;
}
.hero h1 {
	color: var(--pink);
	font-size: 96px;
	font-family: "Bungee Shade", cursive;
	padding: 10px;
}
.home-body {
	padding: 100px 20px;
}
.headline {
	font-family: "Bungee", cursive;
	color: var(--green);
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}
.pj-thumbnail {
	position: relative;

	display: inline;
}
.pj-thumbnail img {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	width: 100%;
	height: auto;
	margin: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 2%;
}
.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.pj-thumbnail:hover img {
	opacity: 0.3;
}
.pj-thumbnail:hover .middle {
	opacity: 1;
}
.pj-name {
	background-color: var(--green);
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	border-radius: 10px;
}
.scroll-container {
	overflow: auto;
	white-space: nowrap;
	padding: 10px;
	width: 50%;
	margin: auto;
	border: solid 1px var(--green);
	border-radius: 4px;
}
.pj-learn-btn {
	color: white;
	background-color: var(--green);
	border-radius: 10px;
	margin: 50px auto 20px auto;
	display: block;
	padding: 4px 16px;
	transition-duration: 0.2s;
}
.pj-learn-btn:hover {
	color: var(--green);
	border: 1px solid;
}
.home-contact .inquiry {
	font-family: "Bungee Outline", cursive;
	font-size: 35px;
	color: var(--pink);
}
.home-contact .contact-btn {
	color: var(--pink);
	border: 1px solid;
	border-radius: 10px;
	margin: 0 10px;
	padding: 4px 16px;
	transition-duration: 0.2s;
}
.contact-btn a {
	text-decoration: none;
	color: var(--pink);
}
.home-contact .contact-btn:hover {
	background-color: var(--pink);
	color: var(--blue);
}
.home-contact i {
	color: var(--pink);
	padding-left: 8px;
	padding-right: 8px;
	font-size: 25px;
	transition-duration: 0.2s;
}
.home-contact i:hover {
	font-size: 35px;
}
.project-page {
	padding: 80px 20px;
}
.project-page .row {
	padding: 40px 20px;
}
.project-page .info {
	color: var(--green);
	text-align: right;
}
.project-page .mid-left {
	text-align: left;
}
.project-page .title {
	font-family: "Bungee", cursive;
	font-size: 35px;
}
.project-page p {
	font-size: 25px;
}
.project-page .launch {
	color: var(--green);
	background-color: var(--beige);
	border: 1px solid;
	border-radius: 10px;
	margin: 0 10px;
	padding: 4px 16px;
	transition-duration: 0.2s;
}
.project-page .launch:hover {
	background-color: var(--green);
}
.github-logo {
	color: var(--green);
	font-size: 25px;
	vertical-align: middle;
	transition-duration: 0.2s;
}
.github-logo:hover {
	font-size: 35px;
}
.project-page a {
	text-decoration: none;
	color: var(--green);
}
.project-page a:hover {
	color: var(--beige);
}
.project-image {
	max-width: 300px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: block;
	margin: auto;
}
@media (max-width: 600px) {
	.headline {
		margin-top: 50px;
		font-size: 50px;
	}
}

.home-contact {
	background-color: var(--blue);
	color: white;
	text-align: center;
	padding: 50px 20px;
	line-height: 4em;
}

body.about {
	background-color: var(--blue);
	color: white;
}
.about .container {
	padding: 100px 30px;
}
.about .info {
	font-size: 25px;
	line-height: 2em;
	text-align: right;
	padding-right: 30px;
	font-family: "Bungee", cursive;
}
.about #name {
	color: var(--pink);
}
.about p {
	font-size: 15px;
	line-height: 1.5em;
	padding-top: 30px;
	font-family: "Quicksand", sans-serif;
}
.about .tools {
	text-align: center;
	padding: 50px 50px;
	font-size: 25px;
	font-family: "Bungee", cursive;
}
@media (max-width: 600px) {
	.about .tools {
		padding: 0;
		margin-top: 30px;
	}
}
body.contact {
	background-color: var(--blue);
	color: var(--pink);
	padding: 180px 20px;
}
.contact .body {
	line-height: 2em;
	text-align: center;
	font-family: "Bungee Outline", cursive;
	font-size: 50px;
}
.contact .email {
	font-family: "Quicksand", sans-serif;
	font-size: 35px;
}
@media (max-width: 600px) {
	.contact .email {
		font-size: 20px;
	}
}
.contact i {
	color: var(--pink);
	padding: 0 20px;
	transition-duration: 0.2s;
}
.contact i:hover {
	font-size: 60px;
}
